<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/intro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
    <title>Animack</title>
</head>
<body>
    <div class="intro">
        <img src="../img/Animack-Logo(white)-400x80.png" alt="">
        <h1 class="logo">
            <span class="logo-parts">A</span>
            <span class="logo-parts">N</span>
            <span class="logo-parts">I</span>
            <span class="logo-parts">M</span>
            <span class="logo-parts">E</span>
            <span class="logo-parts">T</span>
            <span class="logo-parts">R</span>
            <span class="logo-parts">A</span>
            <span class="logo-parts">C</span>
            <span class="logo-parts">K</span>
            <span class="logo-parts">E</span>
            <span class="logo-parts">R</span>
        </h1>
        <p>Keep track of your anime & manga series</p>
    </div>

    <div class="background"></div>

    <div class="content">
        <img class="splashart" src="../img/rem.png" alt="">
        <main>
            <img src="../img/Animack-Logo-800x160.png" alt="">
            <div class="buttons">
                <a href="ani-list.html"><div class="button-1">Go to my List</div></a>
                <a href="search.html"><div class="button-2">Search for anime or manga</div></a>
            </div>
        </main>
        <footer>
            <div class="github-link">
                <a href="https://github.com/Torrex123/Animack" target="_blank"><i class="fa-brands fa-github"></i></a>
            </div>
            <p class="version">ver. 1.10</p>
        </footer>
    </div>

    <script src="js/intro.js"></script>
    <script src="https://kit.fontawesome.com/a72e811a36.js" crossorigin="anonymous"></script>
</body>
</html>